body{
    background-image: url("assets/img/15.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #65E9CC;
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
    font-family: 'Open Sans', sans-serif;
}

.tabs{
    background: none;
}

#mainTabs .indicator{
    background-color: #009688;
}

#mainTabs a{
    color: #004d40;
}
  
#mainTabs a:hover, a:active, a:focus, a:focus.active{
    background-color: rgba(126,87,194, 0.2) !important;
}



#card{
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.9);
}

#card .hideCard{
    height: 0;
    padding: 0;
}

#profileImg{
    padding: 50px;
    overflow: auto;
}

#mainCard .divider{
    border-left: 2px dashed #555; 
    background-color: rgba(255, 255, 255, 0);
    height: 400px;
    margin: 30px 0;
    width: 0;
    padding: 0;
}

#cardContent{
    padding: 25px;
}

#name{
    padding-left: 5px;
    border-left: 2px solid #555;
}

#mainButtons{
    padding-top: 10px;
}

#projectsCard{
    padding: 50px;
}

#projectsCard .card-content p{
    height: 45px;
}

#projectsCard .card-action{
    height: 55px;
}

#projectsCard .card .card-action a{
    color: #009688;
}

.modelCard{
    display: none;
}

#contactCard{
    padding: 50px;
}

#contactCard a{
    margin: 1%;
}