/* sidebar and main page size settings */
#container{
    position: absolute;
    width: 100%;
    height: 100%;
}
#side-bar-container{
    /* width: 20%; */
    height: 100%;
    background-color: aqua;
    /* float: left; */
}
#main-container{
    /* width: 80%; */
    height: 100%;
    background-color: blueviolet;
    /* float: left; */
}
img{
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
}
.center-text{
    text-align: center;
}
.github-button,
.github-button:hover {
    background-color: #24292e;
}

.linkedin-button,
.linkedin-button:hover {
    background-color: #0474B5;
}
.github-button,
.linkedin-button,
.email-button{
    margin: 0 auto;
    display: block;
}